body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

div {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 50px;
}

button {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 100px;
}